html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #0439f8;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* Grids */
.product-grid,
.office-grid,
.employee-grid {
  display: grid;
  grid-gap: 20px;
}

.product-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.office-grid,
.employee-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1080px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .office-grid,
  .employee-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 720px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .office-grid,
  .employee-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 560px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}