html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Product overview page */
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 1080px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 720px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 560px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}
