.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 20;
}

@media only screen and (max-width: 1080px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 720px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 560px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}
